.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
  gap: 1rem;
}

.container input {
  width: 260px;
  padding: 5px;
  border-radius: 5px;
}

.result-container {
  width: 270px;
  max-height: 200px;
  /* border: 1px solid black; */
  overflow-y: scroll;
  margin: auto;
}

.result {
  padding: 8px;
  cursor: pointer;
}

.result.active {
  background-color: #e5e7eb;
}

