.heading {
  text-align: center;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  width: 230px;
  list-style-type: none;

}

.todo-list li {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#delete-button {
  text-decoration:  important none;
  background-color: transparent;
  border: none;
  cursor: pointer;

}

.input {
  padding: 5px;
  margin-right: 5px;
}
.button {
  padding-inline: 12px;
  padding-block: 5px;
  cursor: pointer;
}

.completed span{
  text-decoration: line-through;
}
